html,body,#app{
    height:100%;
    margin:0;
    padding:0;
    min-width: 1024px;
      }
  .el-submenu_title,
  .el-menu-item{
    font-size: 13px;
  }
  i.iconfont{
    margin-right: 10px;
  }
  .box-card{
    margin-top:15px;
  box-shadow: 0 1px 1px rgba(0 , 0, 0, 0.15) !important;
  }
  .el-table,.el-pagination{
    margin-top:15px;
    font-size:12px;
    
  }
  .ql-editor,
.ql-blank {
  min-height: 200px;
}
.el-step__title.is-finish{
  color: #67c23a;
    border-color: #67c23a;
}
.el-step__head.is-finish{
  color: #67c23a;
  border-color: #67c23a;
}